@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
body{
    background: gainsboro;
}
.dashboard-table{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    margin-top: 70px;
}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    background-color: snow;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid silver;
}
th {
    background-color: purple;
    color: snow;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: snow;
}
.delete-user{
    display: flex;
    justify-content: center;
}
.delete-user:hover{
    transition: 0.7s ease-in-out;
    background: red;
    cursor: pointer;
}
.delete-user:hover #x{
    color: snow;
    transition: 0.3s ease-in-out;
}
#x{
    color: black
}
