@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.deletePlayer{
    position: absolute;
    top: 0.5em;
    color: snow;
    right: 0.5em;
    font-size: 1.5em;
    cursor: pointer;
}
.hide{
    display: none;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: purple;
    width: 100%;
    position: sticky;
    z-index: 999;
}
.nav-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.logo{
    width: 4.7em;
    margin-right: 10em;
}
.links{
    color: ghostwhite;
    text-decoration: none;
    font-weight: 600;
    margin: 2em;
    font-size: 1.1em;
    letter-spacing: 0.5px;
}
.links:hover{
    color: gold;
    transition: ease-in-out 0.3s;
}
#btn{
    background: ghostwhite;
    color: purple;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 6px;
}
#btn:hover{
    cursor: pointer;
    background: gold;
}
.roster{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.player{
    position: relative;
    order: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 70px 50px;
    width: 400px;
    height: 450px;
    background-color: #8B008B;
    border-radius: 20px;
    border: 4px solid snow;
}
.info{
    display: flex;
    font-weight: bold;
    color: snow;
    margin-top: 0.7em;
}
.number{
    border-right: 1px solid snow;
    padding: 10px 20px;
}
.name{
    border-right: 0.1px solid #8B008B;
    padding: 10px 20px;
}
.position{
    border-left: 1px solid snow;
    padding: 10px 20px;
}
.player-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.8em 0.8em 0.1em 0.8em;
}
.player-links1{
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: snow;
    border: none;
    border-radius: 10px;
    color: #8B008B;
    padding: 10px 25px;
    text-align: center;
}
body {
    background-image: url('../img/mbasja4.jpg');
    background-size: contain;
    background-position: center;
    

  }
  